@import "../../styles/mixins";
@import "../../styles/variables";

.menu--content {
  @include width-height--hundred-percent;
  @include column-flex-centered;
  @include green-smoke-background;
  height: 100vh;
  gap: 1.5rem;
  text-align: center;
}

.menu--content {
  h1 {
    font-size: 6rem;
    font-weight: 700;
    color: $interface--dark-green;
    flex: 0.3;
    margin: 0;
    font-family: "Lora-Italic";
  }
}

@media (max-width: 900px) {
  .menu--content {
    h1 {
      font-size: 5rem;
    }
  }
}

@media (max-width: 600px) {
  .menu--content {
    height: -webkit-fill-available;
  }

  .menu--content {
    h1 {
      font-size: 4.5rem;
    }

    button {
      width: 80%;
    }
  }
}
