@import "../../styles/mixins";
@import "../../styles/variables";

.profile--content {
  @include column-flex-centered;
  @include green-smoke-background($power: 0%);
  height: 90vh;
  width: 100%;
  text-align: center;
}

/* INFO */
.profile--info {
  @include column-flex-centered;
  padding: 1rem;
  width: 100%;
}

.profile--info {
  h1 {
    font-size: 4rem;
    font-weight: 700;
    font-family: "Lora-Italic";
    color: $interface--dark-green;
    flex: 0.3;
    margin: 2rem;
  }

  p {
    font-size: 2rem;
    font-weight: 700;
    font-family: "Lora";
    color: $interface--dark-green;
    flex: 0.3;
    margin: 1rem;
  }

  button {
    width: 40%;
    min-width: fit-content;
    border: 1px solid $interface--dark-green;
    border-radius: 15px;
    padding: 1rem;
    outline: none;
    background-color: $interface--light-green;
    box-shadow: 0 0 5px $interface--light-green;
    font-size: 22px;
    font-weight: 700;
    font-family: "RobotoSlab";
    cursor: pointer;
  }

  button:hover {
    background-color: $interface--light-green--darkened;
  }
}

/* COLLECTION */
.profile--collection-wrapper {
  @include flex-centered;
  width: 90%;
  gap: 1rem;
  color: $interface--dark-green;
}

.profile--collection {
  @include column-flex-centered;
  height: 50vh;
  width: 100%;
  border: 3px solid $interface--very-light-green;
  border-radius: 15px;
}

.profile--collection {
  h2 {
    font-family: "RobotoSlab";
    font-size: 30px;
  }

  section {
    @include column-flex-centered;
    width: 100%;
    height: 80%;
    flex: 1;
    gap: 0.5rem;
    overflow: scroll;
  }
}

.profile--collection-skin {
  @include flex-centered;
  width: 80%;
  background-color: $interface--light-green;
  font-size: 20px;
  font-weight: 700;
  font-family: "RobotoSans";
  border: 3px solid $interface--light-green--darkened;
  border-radius: 10px;
  padding: 1rem;
}

.profile--collection-skin:hover {
  cursor: pointer;
  background-color: $interface--light-green--darkened;
}

@media (max-width: 600px) {
  .profile--content {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
}
