@import "../../styles/mixins";
@import "../../styles/variables";

.profile--content {
  @include column-flex-centered;
  @include green-smoke-background($power: 0%);
  height: 90vh;
  width: 100%;
  text-align: center;
}

.profile--collections-wrapper {
  @include flex-centered;
  width: 90%;
  gap: 1rem;
  color: $interface--dark-green;
}

@media (max-width: 600px) {
  .profile--content {
    height: 100vh;
    height: -webkit-fill-available;
    width: 100vw;
    overflow: hidden;
  }
}
