@import "../../styles/mixins";
@import "../../styles/variables";

.shop {
  @include flex-centered;
  background: $white;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.shop--products {
  h4 {
    font-family: "Lora";
    font-size: 3rem;
    margin: 0;
    color: $interface--dark-green;
  }
}

.shop--products {
  @include column-flex-centered;
  height: 100%;
  background-color: $white;
  gap: 2rem;
  overflow-y: scroll;
  flex: 1;
}

.shop--preview {
  @include column-flex-centered;
  background-image: url("../../assets/green-texture.jpg");
  background-size: 100% 100%;
  height: 100%;
  flex: 0.75;
  gap: 1rem;
}

@media (max-width: 900px) {
  .shop {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .shop--preview {
    @include width-height--hundred-percent;
    order: 1;
    flex:  1;
  }

  .shop--products {
    order: 2;
    margin-top: 2rem;
  }
}
