.card {
  width: 100px;
  height: 110px;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 4px 4px 4px #000000;
  animation-fill-mode: forwards;
}

.card--enter {
  animation: card--enter 1s ease forwards;
}

.card--exit {
  animation: card--exit 1s ease forwards;
}

@keyframes card--enter {
  from {
    transform: translate(400%, -700%);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes card--exit {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-100%, -700%);
  }
}

@-webkit-keyframes card--enter {
  from {
    transform: translate(400%, -700%);
  }
  to {
    transform: translate(0, 0);
  }
}

@-webkit-keyframes card--exit {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-100%, -700%);
  }
}

@-moz-keyframes card--enter {
  from {
    transform: translate(400%, -700%);
  }
  to {
    transform: translate(0, 0);
  }
}

@-moz-keyframes card--exit {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-100%, -700%);
  }
}

@-ms-keyframes card--enter {
  from {
    transform: translate(400%, -700%);
  }
  to {
    transform: translate(0, 0);
  }
}

@-ms-keyframes card--exit {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-100%, -700%);
  }
}

@-o-keyframes card--enter {
  from {
    transform: translate(400%, -700%);
  }
  to {
    transform: translate(0, 0);
  }
}

@-o-keyframes card--exit {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-100%, -700%);
  }
}


.CLUBS2 {
  background-image: url("/src/assets/cards/2CLUBS.svg");
}

.CLUBS3 {
  background-image: url("/src/assets/cards/3CLUBS.svg");
}

.CLUBS4 {
  background-image: url("/src/assets/cards/4CLUBS.svg");
}

.CLUBS5 {
  background-image: url("/src/assets/cards/5CLUBS.svg");
}

.CLUBS6 {
  background-image: url("/src/assets/cards/6CLUBS.svg");
}

.CLUBS7 {
  background-image: url("/src/assets/cards/7CLUBS.svg");
}

.CLUBS8 {
  background-image: url("/src/assets/cards/8CLUBS.svg");
}

.CLUBS9 {
  background-image: url("/src/assets/cards/9CLUBS.svg");
}

.CLUBS10 {
  background-image: url("/src/assets/cards/10CLUBS.svg");
}

.CLUBSJ {
  background-image: url("/src/assets/cards/JACKCLUBS.svg");
}

.CLUBSQ {
  background-image: url("/src/assets/cards/QUEENCLUBS.svg");
}

.CLUBSK {
  background-image: url("/src/assets/cards/KINGCLUBS.svg");
}

.CLUBSA {
  background-image: url("/src/assets/cards/ACECLUBS.svg");
}

.DIAMONDS2 {
  background-image: url("/src/assets/cards/2DIAMONDS.svg");
}

.DIAMONDS3 {
  background-image: url("/src/assets/cards/3DIAMONDS.svg");
}

.DIAMONDS4 {
  background-image: url("/src/assets/cards/4DIAMONDS.svg");
}

.DIAMONDS5 {
  background-image: url("/src/assets/cards/5DIAMONDS.svg");
}

.DIAMONDS6 {
  background-image: url("/src/assets/cards/6DIAMONDS.svg");
}

.DIAMONDS7 {
  background-image: url("/src/assets/cards/7DIAMONDS.svg");
}

.DIAMONDS8 {
  background-image: url("/src/assets/cards/8DIAMONDS.svg");
}

.DIAMONDS9 {
  background-image: url("/src/assets/cards/9DIAMONDS.svg");
}

.DIAMONDS10 {
  background-image: url("/src/assets/cards/10DIAMONDS.svg");
}

.DIAMONDSJ {
  background-image: url("/src/assets/cards/JACKDIAMONDS.svg");
}

.DIAMONDSQ {
  background-image: url("/src/assets/cards/QUEENDIAMONDS.svg");
}

.DIAMONDSK {
  background-image: url("/src/assets/cards/KINGDIAMONDS.svg");
}

.DIAMONDSA {
  background-image: url("/src/assets/cards/ACEDIAMONDS.svg");
}

.HEARTS2 {
  background-image: url("/src/assets/cards/2HEARTS.svg");
}

.HEARTS3 {
  background-image: url("/src/assets/cards/3HEARTS.svg");
}

.HEARTS4 {
  background-image: url("/src/assets/cards/4HEARTS.svg");
}

.HEARTS5 {
  background-image: url("/src/assets/cards/5HEARTS.svg");
}

.HEARTS6 {
  background-image: url("/src/assets/cards/6HEARTS.svg");
}

.HEARTS7 {
  background-image: url("/src/assets/cards/7HEARTS.svg");
}

.HEARTS8 {
  background-image: url("/src/assets/cards/8HEARTS.svg");
}

.HEARTS9 {
  background-image: url("/src/assets/cards/9HEARTS.svg");
}

.HEARTS10 {
  background-image: url("/src/assets/cards/10HEARTS.svg");
}

.HEARTSJ {
  background-image: url("/src/assets/cards/JACKHEARTS.svg");
}

.HEARTSQ {
  background-image: url("/src/assets/cards/QUEENHEARTS.svg");
}

.HEARTSK {
  background-image: url("/src/assets/cards/KINGHEARTS.svg");
}

.HEARTSA {
  background-image: url("/src/assets/cards/ACEHEARTS.svg");
}

.SPADES2 {
  background-image: url("/src/assets/cards/2SPADES.svg");
}

.SPADES3 {
  background-image: url("/src/assets/cards/3SPADES.svg");
}

.SPADES4 {
  background-image: url("/src/assets/cards/4SPADES.svg");
}

.SPADES5 {
  background-image: url("/src/assets/cards/5SPADES.svg");
}

.SPADES6 {
  background-image: url("/src/assets/cards/6SPADES.svg");
}

.SPADES7 {
  background-image: url("/src/assets/cards/7SPADES.svg");
}

.SPADES8 {
  background-image: url("/src/assets/cards/8SPADES.svg");
}

.SPADES9 {
  background-image: url("/src/assets/cards/9SPADES.svg");
}

.SPADES10 {
  background-image: url("/src/assets/cards/10SPADES.svg");
}

.SPADESJ {
  background-image: url("/src/assets/cards/JACKSPADES.svg");
}

.SPADESQ {
  background-image: url("/src/assets/cards/QUEENSPADES.svg");
}

.SPADESK {
  background-image: url("/src/assets/cards/KINGSPADES.svg");
}

.SPADESA {
  background-image: url("/src/assets/cards/ACESPADES.svg");
}

.card--back {
  background-image: url("/src/assets/cards/2B.svg");
}

@media screen and (max-width: 600px) {
  .card {
    width: 55px;
    height: 75px;
  }
}
