.card {
  width: 100px;
  height: 110px;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 4px 4px 4px #000000;
  /* transform: translate(0, -500%); */
}


.CLUBS2 {
  background-image: url("/src/Images/Cards/2CLUBS.svg");
}

.CLUBS3 {
  background-image: url("/src/Images/Cards/3CLUBS.svg");
}

.CLUBS4 {
  background-image: url("/src/Images/Cards/4CLUBS.svg");
}

.CLUBS5 {
  background-image: url("/src/Images/Cards/5CLUBS.svg");
}

.CLUBS6 {
  background-image: url("/src/Images/Cards/6CLUBS.svg");
}

.CLUBS7 {
  background-image: url("/src/Images/Cards/7CLUBS.svg");
}

.CLUBS8 {
  background-image: url("/src/Images/Cards/8CLUBS.svg");
}

.CLUBS9 {
  background-image: url("/src/Images/Cards/9CLUBS.svg");
}

.CLUBS10 {
  background-image: url("/src/Images/Cards/10CLUBS.svg");
}

.CLUBSJ {
  background-image: url("/src/Images/Cards/JACKCLUBS.svg");
}

.CLUBSQ {
  background-image: url("/src/Images/Cards/QUEENCLUBS.svg");
}

.CLUBSK {
  background-image: url("/src/Images/Cards/KINGCLUBS.svg");
}

.CLUBSA {
  background-image: url("/src/Images/Cards/ACECLUBS.svg");
}

.DIAMONDS2 {
  background-image: url("/src/Images/Cards/2DIAMONDS.svg");
}

.DIAMONDS3 {
  background-image: url("/src/Images/Cards/3DIAMONDS.svg");
}

.DIAMONDS4 {
  background-image: url("/src/Images/Cards/4DIAMONDS.svg");
}

.DIAMONDS5 {
  background-image: url("/src/Images/Cards/5DIAMONDS.svg");
}

.DIAMONDS6 {
  background-image: url("/src/Images/Cards/6DIAMONDS.svg");
}

.DIAMONDS7 {
  background-image: url("/src/Images/Cards/7DIAMONDS.svg");
}

.DIAMONDS8 {
  background-image: url("/src/Images/Cards/8DIAMONDS.svg");
}

.DIAMONDS9 {
  background-image: url("/src/Images/Cards/9DIAMONDS.svg");
}

.DIAMONDS10 {
  background-image: url("/src/Images/Cards/10DIAMONDS.svg");
}

.DIAMONDSJ {
  background-image: url("/src/Images/Cards/JACKDIAMONDS.svg");
}

.DIAMONDSQ {
  background-image: url("/src/Images/Cards/QUEENDIAMONDS.svg");
}

.DIAMONDSK {
  background-image: url("/src/Images/Cards/KINGDIAMONDS.svg");
}

.DIAMONDSA {
  background-image: url("/src/Images/Cards/ACEDIAMONDS.svg");
}

.HEARTS2 {
  background-image: url("/src/Images/Cards/2HEARTS.svg");
}

.HEARTS3 {
  background-image: url("/src/Images/Cards/3HEARTS.svg");
}

.HEARTS4 {
  background-image: url("/src/Images/Cards/4HEARTS.svg");
}

.HEARTS5 {
  background-image: url("/src/Images/Cards/5HEARTS.svg");
}

.HEARTS6 {
  background-image: url("/src/Images/Cards/6HEARTS.svg");
}

.HEARTS7 {
  background-image: url("/src/Images/Cards/7HEARTS.svg");
}

.HEARTS8 {
  background-image: url("/src/Images/Cards/8HEARTS.svg");
}

.HEARTS9 {
  background-image: url("/src/Images/Cards/9HEARTS.svg");
}

.HEARTS10 {
  background-image: url("/src/Images/Cards/10HEARTS.svg");
}

.HEARTSJ {
  background-image: url("/src/Images/Cards/JACKHEARTS.svg");
}

.HEARTSQ {
  background-image: url("/src/Images/Cards/QUEENHEARTS.svg");
}

.HEARTSK {
  background-image: url("/src/Images/Cards/KINGHEARTS.svg");
}

.HEARTSA {
  background-image: url("/src/Images/Cards/ACEHEARTS.svg");
}

.SPADES2 {
  background-image: url("/src/Images/Cards/2SPADES.svg");
}

.SPADES3 {
  background-image: url("/src/Images/Cards/3SPADES.svg");
}

.SPADES4 {
  background-image: url("/src/Images/Cards/4SPADES.svg");
}

.SPADES5 {
  background-image: url("/src/Images/Cards/5SPADES.svg");
}

.SPADES6 {
  background-image: url("/src/Images/Cards/6SPADES.svg");
}

.SPADES7 {
  background-image: url("/src/Images/Cards/7SPADES.svg");
}

.SPADES8 {
  background-image: url("/src/Images/Cards/8SPADES.svg");
}

.SPADES9 {
  background-image: url("/src/Images/Cards/9SPADES.svg");
}

.SPADES10 {
  background-image: url("/src/Images/Cards/10SPADES.svg");
}

.SPADESJ {
  background-image: url("/src/Images/Cards/JACKSPADES.svg");
}

.SPADESQ {
  background-image: url("/src/Images/Cards/QUEENSPADES.svg");
}

.SPADESK {
  background-image: url("/src/Images/Cards/KINGSPADES.svg");
}

.SPADESA {
  background-image: url("/src/Images/Cards/ACESPADES.svg");
}

.card--back {
  background-image: url("/src/Images/Cards/2B.svg");
}

@media screen and (max-width: 600px) {
  .card {
    width: 55px;
    height: 75px;
  }
}