@import "../../../../styles/mixins";
@import "../../../../styles/variables";

@mixin button-background($color, $sizex: 100%, $sizey: 60%) {
  background-color: $color;
  background-size: $sizex $sizey;
}

.UI--button {
  border: none;
  width: 80px;
  height: 80px;
  color: $black;
  box-shadow: 5px 5px 12px $white;
  background-repeat: no-repeat;
  background-size: 100% 80%;
  border-radius: 30%;
  display: flex;
  align-items: end;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 0 5px $black;
}

.UI--button:hover {
  box-shadow: 0px 0px 10px $white;
  border: 2px solid $white;
}

.UI--hit-button {
  @include button-background(#6530c1, 100%, 70%);
  background-image: url("../../assets/icons/hit.svg");
  background-position-y: 15%;
}
/* credits: https://www.svgrepo.com/author/game-icons.net/  */

.UI--split-button {
  @include button-background(#c13207);
  background-image: url("../../assets/icons/split.svg");
  background-position-y: 25%;
}
/* credits: https://www.svgrepo.com/author/Icooon%20Mono/ */

.UI--clear-button {
  @include button-background(#007c9b);
  background-image: url("../../assets/icons/clear.svg");
  background-position-y: 25%;
}
/* credits https://www.svgrepo.com/author/Gitlab/ */

.UI--stand-button {
  @include button-background(#900098);
  background-image: url("../../assets/icons/stand.svg");
  background-position-y: 25%;
}
/* credits: https://www.svgrepo.com/author/Icooon%20Mono/ */

.UI--doubleDown-button {
  @include button-background(#018756, 60%, 55%);
  background-image: url("../../assets/icons/doubleDown.svg");
  background-position-x: center;
}
/*creidts: https://www.svgrepo.com/author/zest/ */

.UI--deal-button {
  @include button-background(#86245d);
  background-image: url("../../assets/icons/deal.svg");
  background-position-y: 25%;
}
/* credits: https://www.svgrepo.com/author/Mike%20Hunter/ */

.UI--newBet-button {
  @include button-background(#1b903c);
  background-image: url("../../assets/icons/new_bet.svg");
}
/* credits: https://www.svgrepo.com/author/Chanut%20is%20Industries/ */

.UI--rebet-button {
  @include button-background(#831717);
  background-image: url("../../assets/icons/rebet.svg");
  background-position-y: 15%;
}
/* credits: https://www.svgrepo.com/ */

.UI--button-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

@media (max-width: 600px) {
  .UI--button {
    min-width: 60px;
    min-height: 60px;
    font-size: 14px;
  }

  /* .UI--doubleDown-button {
    background-size: 60% 45%;
  } */
}
