@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.sound-button {
    @include flex-centered;
    position: absolute;

    background-color: #000000d9;
    border: 1px solid $black;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    right: 1%;
    top: 1%;

    background-size: 80% 80%;
    background-position: center;
    background-repeat: no-repeat;

    cursor: pointer;
}

.audio-on {
    background-image: url("../../assets/icons/audio_on.svg");
}

.audio-off {
    background-image: url("../../assets/icons/audio_off.svg");
}

@media (max-width: 600px) {
    .sound-button {
        display: none;
    }
}