.login-page {
    width: 100%;
    height: 100vh;

    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;

    justify-self: center;
    align-self: center;
}

.login-page--singin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100%;
    flex: 1;

    background-color: #FFFFFF;
}

.login-page--singin > h1 {
    font-size: 4rem;
    font-weight: 700;
    color: #004825;
}

.login-page--register {
    background-image: url('../assets/green-texture.jpg');
    background-size: 100% 100%;
    height: 100%;
    flex: 0.75;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-page--register > h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    color: #A64253;
}

.login-page--register > h3 {
    font-size: 2rem;
    font-weight: 700;
    color: #A64253;
}

.login-page--register-button {
    width: 30%;
    min-width: fit-content;
    height: 40px;
    border: none;
    background-color: #A64253;
    box-shadow: 0 0 5px #000000;
    border-radius: 15px;
    padding: 0 1rem;
    font-size: 22px;
    outline: none;
    cursor: pointer;
    font-weight: 700;
}

.login-page--register > button:hover {
    background-color: #862636;
}
