@import "../styles/_mixins.scss";
@import "../styles/_variables";

.login-page {
    width: 100%;
    height: 100vh;
    @include flex-centered;
    @include self-center;
}

.login-page--singin {
    @include column-flex-centered;
    gap: 2rem;
    height: 100%;
    flex: 1;
    background-color: $white;
}

.login-page--singin > h1 {
    font-size: 4rem;
    font-weight: 700;
    color: $interface--dark-green;
}

.login-page--register {
    @include column-flex-centered;
    background-image: url('../assets/green-texture.jpg');
    background-size: 100% 100%;
    height: 100%;
    flex: 0.75;
}

.login-page--register {
    h1 {
        font-size: 3rem;
        font-weight: 700;
        margin: 0;
        color: $interface--light-red;
    }

    h3 {
        font-size: 2rem;
        font-weight: 700;
        color: $interface--light-red;
    }
} 

.login-page--register-button {
    width: 30%;
    min-width: fit-content;
    height: 40px;
    border: none;
    background-color: $interface--light-red;
    box-shadow: 0 0 5px $black;
    border-radius: 15px;
    padding: 0 1rem;
    font-size: 22px;
    outline: none;
    cursor: pointer;
    font-weight: 700;
}

.login-page--register-button:hover {
    background-color: $interface--light-red--darkened;
}
