@import "../../../styles/mixins";
@import "../../../styles/variables";

.chip {
  background-size: 100% 100%;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #db0c0c00;
  box-shadow: 3px 5px 8px $black;
}

.chip:hover {
  box-shadow: 0 0 15px $white;
  background-color: $white;
}

.chip-one--Default {
  background-image: url("../assets/chips/1_chip.png");
}

.chip-ten--Default {
  background-image: url("../assets/chips/10_chip.png");
}

.chip-twenty-five--Default {
  background-image: url("../assets/chips/25_chip.png");
}

.chip-fifty--Default {
  background-image: url("../assets/chips/50_chip.png");
}

.chip-hundred--Default {
  background-image: url("../assets/chips/100_chip.png");
}

.chip-five-hundred--Default {
  background-image: url("../assets/chips/500_chip.png");
}

.chip-one--Neon {
  background-image: url("../assets/chips/1_chip_neon.png");
  background-color: $interface--neon-pink;
  box-shadow: 0 0 8px $interface--neon-pink;
}

.chip-one--Neon:hover {
  box-shadow: 0 0 25px $interface--neon-pink;
  background-color: $interface--neon-pink;
}

.chip-ten--Neon {
  background-image: url("../assets/chips/10_chip_neon.png");
  background-color: $interface--neon-green;
  box-shadow: 0 0 8px $interface--neon-green;
}

.chip-ten--Neon:hover {
  box-shadow: 0 0 25px $interface--neon-green;
  background-color: $interface--neon-green;
}

.chip-twenty-five--Neon {
  background-image: url("../assets/chips/25_chip_neon.png");
  box-shadow: 0 0 8px #ff0000;
  background-color: #ff0000;
}

.chip-twenty-five--Neon:hover {
  box-shadow: 0 0 25px #ff0000;
  background-color: #ff0000;
}

.chip-fifty--Neon {
  background-image: url("../assets/chips/50_chip_neon.png");
  box-shadow: 0 0 8px #ff5600;
  background-color: #ff5600;
}

.chip-fifty--Neon:hover {
  box-shadow: 0 0 25px #ff5600;
  background-color: #ff5600;
}

.chip-hundred--Neon {
  background-image: url("../assets/chips/100_chip_neon.png");
  box-shadow: 0 0 8px #e200ff;
  background-color: #e200ff;
}

.chip-hundred--Neon:hover {
  box-shadow: 0 0 25px #e200ff;
  background-color: #e200ff;
}

.chip-five-hundred--Neon {
  background-image: url("../assets/chips/500_chip_neon.png");
  box-shadow: 0 0 8px #00fdff;
  background-color: #00fdff;
}

.chip-five-hundred--Neon:hover {
  box-shadow: 0 0 25px #00fdff;
  background-color: #00fdff;
}

.chip-one--Dark {
  background-image: url("../assets/chips/1_chip_dark.png");
  background-color: $black;
  box-shadow: 0 0 8px $black;
}

.chip-one--Dark:hover {
  box-shadow: 0 0 25px $black;
  background-color: $black;
}

.chip-ten--Dark {
  background-image: url("../assets/chips/10_chip_dark.png");
  background-color: $black;
  box-shadow: 0 0 8px $black;
}

.chip-ten--Dark:hover {
  box-shadow: 0 0 25px $black;
  background-color: $black;
}

.chip-twenty-five--Dark {
  background-image: url("../assets/chips/25_chip_dark.png");
  background-color: $black;
  box-shadow: 0 0 8px $black;
}

.chip-twenty-five--Dark:hover {
  box-shadow: 0 0 25px $black;
  background-color: $black;
}

.chip-fifty--Dark {
  background-image: url("../assets/chips/50_chip_dark.png");
  background-color: $black;
  box-shadow: 0 0 8px $black;
}

.chip-fifty--Dark:hover {
  box-shadow: 0 0 25px $black;
  background-color: $black;
}

.chip-hundred--Dark {
  background-image: url("../assets/chips/100_chip_dark.png");
  background-color: $black;
  box-shadow: 0 0 8px $black;
}

.chip-hundred--Dark:hover {
  box-shadow: 0 0 25px $black;
  background-color: $black;
}

.chip-five-hundred--Dark {
  background-image: url("../assets/chips/500_chip_dark.png");
  background-color: $black;
  box-shadow: 0 0 8px $black;
}

.chip-five-hundred--Dark:hover {
  box-shadow: 0 0 25px $black;
  background-color: $black;
}

/* Credits: https://www.flaticon.com/authors/smashingstocks" */

@media (max-width: 600px) {
  .chip {
    height: auto;
    width: auto;
    min-width: 45px;
    min-height: 45px;
  }
}
