.chip {
  background-size: 100% 100%;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #db0c0c00;
  box-shadow: 3px 5px 8px #000000;
}

.chip:hover {
  box-shadow: 0 0 15px white;
  background-color: white;
}

.chip-one {
  background-image: url("../assets/chips/1_chip.png");
}

.chip-ten {
  background-image: url("../assets/chips/10_chip.png");
}

.chip-twenty-five {
  background-image: url("../assets/chips/25_chip.png");
}

.chip-fifty {
  background-image: url("../assets/chips/50_chip.png");
}

.chip-hundred {
  background-image: url("../assets/chips/100_chip.png");
}

.chip-five-hundred {
  background-image: url("../assets/chips/500_chip.png");
}

/* Credits: https://www.flaticon.com/authors/smashingstocks" */


@media (max-width: 600px) {
  .chip {
    height: auto;
    width: auto;
    min-width: 45px;
    min-height: 45px;
  }
}
