.cards--container {
  display: flex;
}

.card--enter-active {
  animation-fill-mode: forwards;
  animation: card--enter 1s ease forwards;
  /* transform: translate(0, -500%); */
}

/* .card--exit-active {  
  animation : card--exit 1s ease forwards;
} */

@keyframes card--enter {
  0% {
    /* opacity: 0; */
    transform: translate(400%, -500%);
    margin: -100%;
  }
  /* 50% {
    transform: translate(0, -80%);
    /* margin: -80%; */
  /*} */
  100% {
    /* opacity: 1; */
    transform: translate(0, 0);
  }
}

@keyframes card--exit {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -100%);
  }
}

@media (max-width: 600px) {
  .cards--container {
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    scale: 0.9;
  }
}