:root {
    --black: #000000;
    --white: #ffffff;
    --red-background: #510000;
    --green-border: #132b03;
    --interface-brown: #241201;
    --info-gold: #ffd900;
    --wooden-table-url: url("/src/Images/wood-pattern.png");
  }

.App { 
    height: 100vh;
    width: 100vw;
    background-color:  var(--red-background);
    /* bckcolo572841s */
    background-image: repeating-linear-gradient(-45deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 1px, transparent 6px);
    background-size: 8px 8px;
    display: flex;
    flex-direction: column;
    /* overflow: inherit; Disables scrolling */ 
}
