.chip {
  background-size: 100% 100%;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #db0c0c00;
  box-shadow: 3px 5px 8px #000000;
}

.chip:hover {
  box-shadow: 0 0 15px white;
  background-color: white;
}

.chip-one {
  background-image: url('/src/Images/Chips/1_chip.png');
}

.chip-ten {
  background-image: url('/src/Images/Chips/10_chip.png');
}

.chip-twenty-five {
  background-image: url('/src/Images/Chips/25_chip.png');
}

.chip-fifty {
  background-image: url('/src/Images/Chips/50_chip.png');
}

.chip-hundred {
  background-image: url('/src/Images/Chips/100_chip.png');
}

.chip-five-hundred {
  background-image: url('/src/Images/Chips/500_chip.png');
}

/* <div> Icons made by <a href="https://www.flaticon.com/authors/smashingstocks" title="smashingstocks"> smashingstocks </a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a></div> */
/* <a href="https://www.flaticon.com/free-icons/poker-chip" title="poker chip icons">Poker chip icons created by smashingstocks - Flaticon</a> */
