.chip {
    background-size: 100% 100%;
    /* position: relative; */ 
    /* display: block; */
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: #db0c0c00;
    /* position: absolute; */
    box-shadow: 3px 5px 8px #000000;
}

.chip:hover {
    box-shadow: 0 0 15px white;
    background-color: white;
}


.chip-one {
    background-image: url("../../Images/1_chip.png");
    /* left: 1%; */
    /* top: 45%; */
}

.chip-ten {
    background-image: url("../../Images/10_chip.png");
    /* left: 3%; */
    /* top: 55%; */
}

.chip-twenty-five {
    background-image: url("../../Images/25_chip.png");
    /* left: 6%; */
    /* top: 65%; */
}

.chip-fifty {
    background-image: url("../../Images/50_chip.png");
    /* left: 9.5%; */
    /* top: 75%; */
}

.chip-hundred {
    background-image: url("../../Images/100_chip.png");
    /* left: 14%; */
    /* top: 82%; */
}

.chip-five-hundred {
    background-image: url("../../Images/500_chip.png");
    /* left: 19%; */
    /* top: 87%; */
}

/* <div> Icons made by <a href="https://www.flaticon.com/authors/smashingstocks" title="smashingstocks"> smashingstocks </a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a></div> */
/* <a href="https://www.flaticon.com/free-icons/poker-chip" title="poker chip icons">Poker chip icons created by smashingstocks - Flaticon</a> */