@import "../styles/_mixins.scss";
@import "../styles/_variables";

@mixin button($color) {
  width: 30%;
  height: 40px;
  min-width: fit-content;
  border: none;
  color: $black;
  background-color: $color;
  box-shadow: 0 0 5px $black;
  border-radius: 15px;
  padding: 0 1rem;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 700;
  font-family: "RobotoSans";
}

.button--green {
  @include button($interface--light-green);
}

.button--green:hover {
  background-color: $interface--light-green--darkened;
}

.button--red {
  @include button($interface--light-red);
}

.button--red:hover {
  background-color: $interface--light-red--darkened;
}
