$white: #FFFDFA;
$black: #070606;

$border--green: #132b03;
$background--red: #510000;
$informations--gold: #ffd900;
$wooden-table--url: url("/src/assets/wood-pattern.png");

$interface--brown: #241201;
$interface--light-red: #A64253;
$interface--light-red--darkened: #862636;
$interface--very-light-green: #AFE3C0;
$interface--light-green: #51a151;
$interface--light-green--darkened: #1d961d;
$interface--dark-green: #004825;
$interface--neon-pink: #ff00b1;
$interface--neon-green: #59ff00;